[
 {user, [{encoding, unicode}]},
 {sync, [{exclude_masks, ["/deps/", "/_rel/"]}]},
 {lager, [
          {handlers, [
                      {lager_console_backend, [{level, debug}
                                              ,{formatter, lager_default_formatter}
                                              ,{formatter_config, [time," [",severity,"] ", "|", {callid, <<"0000000000">>}, "|", module, ":", line, " (",pid, ") ", message, "\n"]}
                                              ]}
                     ]
          }
         ,{extra_sinks, [{data_lager_event,[{handlers, [{lager_file_backend,[{file, "/dev/null"} ,{level, debug}]}]}]}]}
         ,{colored, true}
         ,{error_logger_hwm, 5000}
         ]}
].

