<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         debug="true"
         testSuiteLoaderFile="vendor/phpunit/phpunit/src/Runner/StandardTestSuiteLoader.php"
         strict="false">

  <testsuites>
    <testsuite name="device">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/Device</directory>
    </testsuite>
     <testsuite name="incoming">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/Incoming</directory>
    </testsuite>
    <testsuite name="parking">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/Parking</directory>
    </testsuite>
     <testsuite name="quick-call">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/QuickCall</directory>
    </testsuite>
    <testsuite name="ring-group">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/RingGroup</directory>
    </testsuite>
    <testsuite name="user">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/User</directory>
    </testsuite>
     <testsuite name="voicemail">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/Voicemail</directory>
    </testsuite>
     <testsuite name="mixed">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow/QuickCall</directory>
       <directory suffix=".php">tests/KazooTests/Applications/Conference</directory>
    </testsuite>
     <testsuite name="callflow">
       <directory suffix=".php">tests/KazooTests/Applications/Callflow</directory>
    </testsuite>
    <testsuite name="conference">
       <directory suffix=".php">tests/KazooTests/Applications/Conference</directory>
    </testsuite>
    <testsuite name="crossbar">
       <directory suffix=".php">tests/KazooTests/Applications/Crossbar</directory>
    </testsuite>
    <testsuite name="all">
       <directory suffix=".php">tests/KazooTests/Applications</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/MakeBusy/</directory>
      <directory suffix=".php">tests</directory>
    </whitelist>
  </filter>
</phpunit>
