{

// kazoo kamailio instances here
"sip": {
    "targets": [
        "kamailio.kazoo"
    ]
},

// how kazoo can access makebusy instance
"webhooks": {
    "uri": "http://makebusy.kazoo/make-busy/webhook.php"
},

// how makebusy can access kazoo
"sdk": {
    "base_url": "http://kazoo.kazoo:8000",
    "auth_username": "admin",
    "auth_password": "admin",
    "auth_realm": "kamailio.kazoo"
},


// makebusy automated freeswitch instances
"esl": {
    "auth": {
        "ip_address": "makebusy-fs-auth.kazoo",
        "port": "8021",
        "auth_key": "ClueCon"
    },
    "carrier": {
        "ip_address": "makebusy-fs-carrier.kazoo",
        "port": "8021",
        "auth_key": "ClueCon"
    },
    "pbx": {
        "ip_address": "makebusy-fs-pbx.kazoo",
        "port": "8021",
        "auth_key": "ClueCon"
    }
},

"media": {
    "welcome_prompt_path": "make-busy/prompts/prompts/welcome.wav"
},

// where to store makebusy log file
"log": {
    "log_type": "file",
    "log_file": "/tmp/makebusy.log",
    "log_name": "php-shared",
    "log_stream": 128,
    "email": {
        "from_address": "app@{{hostname}}",
        "to_address": "",
        "subject": ""
    }
}

}