{
  "ssh" : {
            "targets": [
                        {
                            "host": "",
                            "port": "",
                            "username": "",
                            "password": "",
                            "logs": [
                                            {"kazoo": "/var/log/freeswitch/kazoo-debug.log-????????"},
                                            {"journal": "journalctl --no-pager -u sshd"}
                                    ]
                        }
                       ]
          },

  "sip" : {
            "targets" : [
                        ],
            "profiles" : {
                            "auth": "",
                            "pbx": "",
                            "carrier": ""
                         }
          },

  "webhooks" : {
                    "uri" : "http://{ip.address}/make-busy/webhook.php"
               },

  "sdk" : {
            "base_url" : "http://kazoo:8000",
            "api_key"  : "",
            "auth_username" : "admin",
            "auth_password" : "admin",
            "auth_realm" : "test.2600hz.com"
  },

  "esl" : {
            "ip_address" : "127.0.0.1",
            "port" : "8021",
            "auth_key" : "ClueCon"
          },

  "media" : {
                "welcome_prompt_path" : ""
            },

  "log" : {
            "log_type": "file",
            "log_file": "/tmp/makebusy.log"
            "log_name": "php-shared",
            "log_stream": 128.
            "email": {
                        "from_address": "app@{{hostname}}",
                        "to_address": "",
                        "subject": ""
                     }
          }
}
