<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         convertErrorsToExceptions="false"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
         verbose="true"
         strict="false">

  <testsuites>
    <testsuite name="Kazoo Callfow Tests">
       <directory>tests/KazooTests/Applications/Callflow</directory>
    </testsuite>
    <testsuite name="Kazoo Conference Tests">
       <directory>tests/KazooTests/Applications/Conference</directory>
    </testsuite>
    <testsuite name="Kazoo TrunkStore Tests">
       <directory>tests/KazooTests/Applications/Trunkstore</directory>
    </testsuite>
    <testsuite name="Kazoo Konami Tests">
       <directory>tests/KazooTests/Applications/Konami</directory>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist>
      <directory suffix=".php">src/MakeBusy/</directory>
    </whitelist>
  </filter>
</phpunit>

